<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Student details</title>
        <!-- Required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Bootstrap CSS -->
        <!-- build:css css/main.css -->
        <link rel="stylesheet" href="../../css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="../../css/font-awesome/font-awesome.min.css">
     <link ref="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css.map">
     
     <link rel="stylesheet" href="../../css/css/signin.css">
    </head>
    <body>
        <div class="container">
            <div class="main-body">
                <div class="row gutters-sm">
                    <div class="col-md-6 mb-6 offset-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    
                                    <div class="mt-3">
                                      <form action="/students/updateProfile" method="POST">
                                      <div class="text">Enter details</div><br>
                                      <div class="form-group">
					
                                        <input type="text" name="name" id="name" class="form-control" value = "<%=user.name%>" placeholder="Full Name" required/>
                                      </div>

                                      <!-- <div class="form-group">
                                        <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Last Name" required/>
                                      </div> -->

                                      <div class="form-group">
                                              
                                        <input type="text" name="orgCode" id="orgCode" class="form-control" value = "<%=user.orgCode%>" placeholder="Organisation Code" required/>
                                      </div>
                                      <div class="form-group">
                                              
                                        <input type="text" name="enrollemnt" id="enrollment" class="form-control" value = "<%=user.enrollment%>" placeholder="Enrollment no" required/>
                                      </div>


                                      <div class="form-group" >
                                             
                                      
                                        <select class="form-control" name="department" id="department" value = "<%=user.department%>" >
                                          <option>Department</option>
                                          <option>Civil</option>
                                          <option>Computer Science</option>
                                          <option>Electronics and Telecommunication</option>
                                          <option>Information Technology</option>
                                          <option>Mechanical</option>
                                          <option>Mining</option>
                                          <option>Metallurgy</option>
                                         
                                          
                                        </select>
                                      
                                    </div>  
                                    <!-- <div class="form-group">
                                              
                                        <input type="text" name="year" id="year" class="form-control" value = "<%=user.year%>" placeholder="1st year, B.tech" required/>
                                      </div>   -->
                                      <div class="form-group">
					
                                        <input type="text" name="college" id="college" class="form-control" value = "<%=user.college%>" placeholder="College" required/>
                                      </div>

                                      <div class="form-group">
                                        <input type="text" name="course" id="course" class="form-control" value = "<%=user.course%>" placeholder="Course like B.tech" required/>
                                      </div>

                                            <div class="form-group">
                                             
                                              <input type="email" name="email" id="email" class="form-control" value = "<%=user.email%>" placeholder="email@example.com" required/>
                                            </div>
                                      <div class="form-group">
                                              
                                              <input type="tel" name="mobile" id="mobile" class="form-control" value = "<%=user.mobile%>" placeholder="(+91) xxxxxxxxxx" required/>
                                        </div>
                                      
                                        <div class="form-group">
					
                                            <input type="link" name="linkedin" id="linkedin" class="form-control" value = "<%=user.linkedin%>" placeholder="LinkedIn link" />
                                          </div>
                                          <div class="form-group">
					
                                            <input type="link" name="github" id="github" class="form-control" value = "<%=user.github%>" placeholder="Github link" />
                                          </div>
                                          <div class="form-group">
					
                                            <input type="link" name="facebook" id="facebook" class="form-control" value = "<%=user.facebook%>" placeholder="Facebook link" />
                                          </div>
                                      
                                        <br>
                                        <button class="btn btn-primary btn-lg" type="submit">Submit</button>        
                                        </form>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

