<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="index.css"> -->
    
    <title>test</title>
  </head>
  <body class="main-clas">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav " style = "margin-left: auto;">
        <li class="nav-item">
          <button class="btn btn-outline-danger" type="submit"><a class="nav-link" href="/students/generateResult/<%=data._id%>">End Test</a></button>
        </li>
        </ul>
    </div>
  </div>
</nav>

<!-- New div for question and tick box -->
<div class="text-center p-4" ><h2> Time left :<span id="timer"></span></h2></div>
<div class="container mt-3 " >
  
  <div class="row ">
    <div class="col-6 questionOptionClass"  style =" border: 2px black solid; border-radius:5% ; background-color:whitesmoke; color: black; font-size: 120%; ">
      
      <div class="py-2 mx-3 questionNo" >Question number 1 of 10</div>
      
      <div class="py-2 mx-3 question"> </div>
     
        <div class="py-2 mx-3">
          <input type="radio" name="option" class="answer" value ="0" onclick="toggle(this)" data-state="false">
          <label class="mx-3 option1"></label>
        </div>
        <div class="py-2 mx-3">
          <input type="radio" name="option" class="answer" value ="1" onclick="toggle(this)" data-state="false">
          <label class="mx-3 option2"></label>
        </div>
        <div class="py-2 mx-3">
          <input type="radio" name="option" class="answer" value ="2" onclick="toggle(this)" data-state="false">
          <label class="mx-3 option3"></label>
        </div>
        <div class="py-2 mx-3">
          <input type="radio" name="option" class="answer" value ="3" onclick="toggle(this)" data-state="false">
          <label class="mx-3 option4"></label>
        </div>

        <!-- second row -->
      <div class="row ">
        <div class="col-4   p-3" >
            <button class="btn btn-outline-primary previousButton" type="submit" name="action" value="previous">Previous</button>
        </div>
        
        <div class="col-4    p-3" >
            <button class="btn btn-outline-warning nextButton" type="submit" name="action" value="next">Next</button>
        </div>

        <div class="col-4    p-3" >
            <button class="btn btn-outline-success saveAndNextButton " type="submit" name="action" value="saveAndNext">Save and Next</button>
        </div>
      </div>

    </div>

    <!-- second column of first row -->
    <div class="col-6 ">
      <div >
                                                             
        <div class="container">
          <div class="row p-6 d-flex justify-content-center" style =" background-color:aquamarine; font-size: 130%; color: black;">
            Question Status
          </div>
            <div class="row" >

              <%var questions = data.test.questions;%>
              <%var totalQuestion = questions.length;%>
              <%for(var i=0; i <  totalQuestion ; i++){%>
                <div class="col-1  mx-3 my-2" style =" background-color:whitesmoke; color: black; " >
                  <span style="font-size:2vw" onclick="move('<%=i%>')" id="Q<%=i%>"><%=i+1%></span>
                </div>
              <%}%>
              
              

            </div>
        </div>
      </div>
      </div>
      
    </div>
  
  </div>
</div>

    <!-- Optional JavaScript; choose one of the two! -->
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script type="text/javascript">
        
      var time = '<%- JSON.stringify(time) %>';
      var data = '<%- JSON.stringify(data) %>';
      // console.log(data);
  </script>
  <script type="text/javascript" src="../../js/mcq.js"></script>
  
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  </body>
</html>