<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
    <link rel="stylesheet" href="../../css/css/instructions.css">
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome/font-awesome.min.css">
    <link ref="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css.map">
  
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="Navbar">
                    <ul class="navbar-nav mr-auto">
                            
                            <!-- <li class="nav-item"><a class="nav-link" href="/students/#"><span class="fa fa-bell fa-lg">Profile</span></a></li> -->
                            <li class="nav-item"><a class="nav-link" href="/students/sprofile"><span class="fa fa-user fa-lg"> Profile</span></a></li>
                          
                    </ul>
                </div>
            </div>
        </nav>
        <br><br><br><br>

        <div class="card mx-auto border-primary mb-3" style="width: 38rem;">
            <div class="card-header">
             <h3>Marksheet</h3> 
            </div>
            <%if(isAttempted == true ){%>
            <ul class="list-group list-group-flush">
              <li class="list-group-item border-primary"><h6>Subject : <%=data.subject.s_name%></h6></li>
              <li class="list-group-item border-primary"><h6>Subject Code : <%=data.subject.s_code%></h6></li>
              <li class="list-group-item border-primary "><h6>Test Code :<%=data.test.t_code%></h6></li>
              <li class="list-group-item border-primary"><h6>Total Number of Questions :<%=data.result.totalQuestion%></h6></li>
              <li class="list-group-item border-primary"><h6>Number of Questions Attempted :<%=data.result.totalQuestion%></h6></li>
             <li class="list-group-item border-primary"><h6>Number of Correct Answer :<%=data.result.correct%></h6></li>
             <li class="list-group-item border-primary"><h6>Percentage :<%= percentage%></h6></li>
            </ul>
            <%}else{%>
                <li class="list-group-item border-primary"><h4>It seems like you have not given the test!</h4></li>
            <%}%>
          </div>
 
  </div>
            <!-- Optional JavaScript; choose one of the two! -->
        
            <!-- Option 1: Bootstrap Bundle with Popper -->
            <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> -->
        
        <!-- <script src="../front/enrolled_students.js"></script> -->
</body>
</html>