<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
    <link rel="stylesheet" href="../../css/css/notification.css">
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="../server/node_modules/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="../../css/font-awesome/font-awesome.min.css">
    <link ref="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css.map">
     
</head>
<body>
    <div class="container">

        <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="Navbar">
                    <ul class="navbar-nav mr-auto">
                            <!-- <img src="../image/logo3.png"> -->
                            <!-- <li class="nav-item"><a class="nav-link" href="../registration-authentication/signin.html"><span class="fa fa-sign-in fa-lg"> Login</span></a></li> -->
                            <li class="nav-item"><a class="nav-link" href="/students/sprofile"><span class="fa fa-user fa-lg"> Profile</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-users fa-lg"> Meet the team</span></a></li>
                            
                            <!-- <li class="nav-item active"><a class="nav-link" href="../front/notification.html"><span class="fa fa-bell fa-lg"> Notification</span></a></li> -->
                            
                    </ul>
                    <span class="navbar-text">
                        <a href="/students/logout">
                            <span class="fa fa-sign-in"> Logout</span>
                        </a>
                    </span>
                </div>
            </div>
        </nav>
   
        <div class="row row-content">
            <div class="col d-none d-md-block">
                <div id="mycarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                       
                            <div class="carousel-item active">
                                <img class="d-block img-fluid"
                                    src="../../images/carousel.jpg" alt="carousel">
                                <div class="carousel-caption d-none d-md-block">
                                   
                                        <div class="text">Welcome to Online Examination System : a platform to participate in exams and also to host exams.</div>
                                        
                                </div>
                            </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid"
                                src="../../images/computer-test.jpg" alt="background">
                            <div class="carousel-caption d-none d-md-block">

                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid"
                                src="../../images/carousel1 (2).jpg" alt="admin-user">
                            <div class="carousel-caption d-none d-md-block">
                                
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid"
                                src="../../images/carousel7.jpg" alt="user_details2">
                            <div class="carousel-caption dnone d-md-block">
                                
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#mycarousel" data-slide-to="1"></li>
                        <li data-target="#mycarousel" data-slide-to="2"></li>
                        <li data-target="#mycarousel" data-slide-to="3"></li>
                    </ol>
                    <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row row-content">
            <div class="col-12 col-sm-9">
                <div class="text">Upcoming Tests</div>
                <br>
                <div class="card">
                <div class="bdr">
                <section>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th>Subject</th>
                            <th>Category</th>
                            <th>Writer</th>
                            <th>Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Duration</th>
                            <th></th>
                            </tr>
                        </thead>
                    
                        <tbody>
                            <%if(data.length===0){%>
                                <tr>
                                    <td colspan="5">No data</td>
                                </tr>
                            <%}else{for(let i=0;i<data.length;i++){%>
                                <tr>
                                    <td>Subject</td>
                                    <td><%=data[i].department%></td>
                                    <td>Writer</td>
                                    <td><%=data[i].date%></td>
                                    <td><%=data[i].start%></td>
                                    <td><%=data[i].end%></td>
                                    <td>2 hours</td>
                                    <%if(enroll[i]===false){%>
                                    <td><button class="btn btn-success btn-block" ><a href="/students/testEnroll/<%=data[i].s_code%>$<%=data[i].t_code%>">Register</a></button></td>
                                    <%}else{%>
                                        <td>Registered</td>
                                    <%}%>
                                    <!-- <td><button class="btn btn-danger btn-block"><a href="/tests/deleteSubject/<%=data[i].s_code%>">Delete</a></button></td>
                                    <td><button class="btn btn-secondary btn-block"><a href="#">Edit</a></button></td> -->
                                </tr>
                            <%}}%>
                            
                            <!-- <tr>
                                <td>OOP</td>
                                    <td>Open</td>
                                    <td>TS</td>
                                    <td>26.12.2020</td>
                                    <td>13:30</td>
                                    <td>14:30</td>
                                    <td>1</td>
                                    <td><button type="button" class="btn btn-danger btn-block"><a href="#">Register</a></button></td>
                                </tr> -->
                        </tbody>
                    
                    </table>  
                
                </section> 
                </div>
                </div> 
                
            </div>
            <div class="col-12 col-sm-3 align-self-center" style="text-align: left; font-size: 20px; padding-top: 30px;">
                <h5><mark style="background-color:red ; color: white;">Upcoming</mark></h5>
                <p>Upcoming test is on Sunday, 11/12/2020 from 9am to 12 pm. Test Creator is Hello. There will be 10 questions , everything will be mcq and you have to explain answer of each question in the text-box. No negative marking for wrong answer. Each question carries 2 marks.</p>
            </div>
        </div>

    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="../home/admin-user.html">Home</a></li>
                        <li><a href="../Team/team.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
		              Shibpur, Howrah<br>
                      <!-- <i class="fa fa-phone fa-lg"></i>:(+91) 62967 86302<br> -->
                      <i class="fa fa-envelope fa-lg"></i> : 
                      <a href="mailto:gbye8334@gmail.com">gbye8334@gmail.com</a>
		           </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                        <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2020</p>
                </div>
           </div>
        </div>
    </footer>    
    <script src="../js/jquery.slim.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/popper.min.js"></script>
</body>
</html>